// Colors
$black: #232323;
$white: #f6f6f6;

// Font-family
$font-family: 'Figtree';
// $font-family: 'Plus Jakarta Sans';

// Font-size
$body-size: 16px;

// Font-weight
$extra-light: 300;
$light: 400;
$regular: 500;
$medium: 600;
$semibold: 700;
$bold: 800;
$extra-bold: 900;

// Screens
$xl: 1600px;
$l: 1200px;
$md: 960px;
$sm: 767px;
$xs: 320px;